<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<!-- Console Target -->
		<!--<target xsi:type="Console" name="console" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
		
		--><!-- File Target --><!--
		<target xsi:type="File" name="file" fileName="logs/logfile.log" layout="${longdate}|${level:uppercase=true}|${-->logger}|${message}" />

		<target xsi:type="Console" name="console" layout="${longdate}|${level:uppercase=true}|${logger}|${message} | ScopeId: ${scopeproperty:ScopeId} | UserId: ${scopeproperty:UserId} | Operation: ${scopeproperty:Operation}" />
		<!-- File Target -->
		<target xsi:type="File" name="file" fileName="logs/logfile.log" layout="${longdate}|${level:uppercase=true}|${logger}|${message} | ScopeId: ${scopeproperty:ScopeId} | UserId: ${scopeproperty:UserId} | Operation: ${scopeproperty:Operation}" />
		
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="console,file" />
	</rules>
</nlog>
